/* CONFIGURATION */
/*---------------*/
/* variables */
:root {
    /* colors */
    --clr-primary-dk: #E85A4F;
    --clr-primary-lt: #E98074;
    --clr-secondary-dk: #D8C3A5;
    --clr-secondary-lt: #8E8D8A;
    --clr-background: #EAE7DC;
    --clr-font: #212427;

    /* fonts */
    --font-family: "Inter", sans-serif;

    /* font sizing */
    --fs-h1: 2.5rem;
    --fs-h2: 2.0rem;
    --fs-h3: 1.5rem;
    --fs-p: 1.0rem; /* <p> */
    --fs-f: 0.8rem; /* functional text e.g. captions */

    /* transitions */
    --transition-duration: 200ms;
}

/* fonts */
* {
    font-family: var(--font-family), sans-serif;
    color: var(--clr-font);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-variant: all-petite-caps;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
    color: var(--clr-primary-dk);
    font-weight: 900;
}

h2 {
    font-size: var(--fs-h2);
    margin: 1rem 0;
    color: var(--clr-background);
}

h2 span {
    background-color: var(--clr-primary-lt);
    padding: 0 1rem;
    margin-left: -1rem;
    color: var(--clr-background);
}

h2 span:after {
    color: var(--clr-background);
    content: ";";
    margin-left: 5px;
}

h3 {
    font-size: var(--fs-h3);
}

p{
    font-size: var(--fs-p);
    font-weight: 300;
    margin-top: 0;
    line-height: 1.5rem;
}

a {
    color: var(--clr-primary-dk);
    font-size: var(--fs-p);
    font-weight: 400;
}

/* COMMON CLASSES */
/*----------------*/
/* Buttons & links */
.icon-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform var(--transition-duration) ease-in-out;
    margin-right: 1rem;
    text-decoration: none;
}

.icon-btn i {
    color: var(--clr-secondary-lt);
    font-size: 1.5rem;
}

/* lists */
.no-style-list {
    margin: 0;
    padding: 0;
}

.no-style-list li {
    list-style-type: none;
}

/* GENERAL PAGE SETUP */
/*--------------------*/
html, body {
    margin: 0;
    width: 100vw;
    background: var(--clr-background);
    scroll-behavior: smooth;
}

main {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 6rem;
    padding: 0 6rem;
}

#site-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 6rem 0;
    box-sizing: border-box;
}

#content-cntr {
    padding: 6rem 0;
}

section {
    display: flex;
    flex-direction: column;
    min-height: 20rem;
    width: 100%;
    border: none;
    margin-bottom: 2rem;
    justify-content: space-evenly;
}

/* CONTENT STYLING */
/*-----------------*/

/* Header */
#tagline {
    margin: 0.5rem 0;
    color: var(--clr-secondary-lt);
    text-indent: 1em;
}

#tagline p {
    margin: 0;
    font-weight: 500;
    font-family: monospace, sans-serif;
}

#tagline p.then::before,
#tagline p.then::after{
    font-weight: bold;
    font-family: monospace, sans-serif;
    font-size: var(--fs-f);
    color: var(--clr-secondary-dk);
}

#tagline p.then::before {
    content: ".then( ";
    position: absolute;
    transform: translateX(-100%);
    padding-right: 1ch;
}

#tagline p.then::after{
    content: ")";
    padding-left: 1ch;
}

#experience-note {
    display: inline-block;
    position: relative;
    margin: 2rem 0;
    color: var(--clr-secondary-lt);
    font-size: var(--fs-f);
    line-height: 1rem;
}

#experience-note a {
    font-size: var(--fs-f);
}

#experience-note::before{
    content: "HTTP/1.1 405:";
    position: absolute;
    top: -1rem;
    font-weight: bold;
    font-family: monospace, sans-serif;
    color: var(--clr-secondary-dk);
}

#blurb {
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
}

#blurb--header {
    display: none;
}

/* Nav */
#site-nav {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 2rem;
}

#site-nav li {
    padding: 0 0 5px 0;
}

#site-nav a {
    color: var(--clr-secondary-lt);
    text-decoration: none;
    cursor: pointer;
}

#site-nav a:before {
    color: var(--clr-secondary-lt);
    content: "/* ";
}

#site-nav a:after {
    content: " */";
    color: var(--clr-secondary-lt);
}

#site-nav a.site-nav__btn--active{
    color: var(--clr-primary-dk);
}

#site-nav a.site-nav__btn--active::before,
#site-nav a.site-nav__btn--active::after {
    display: none;
}

#nav-mobile {
    display: none;
}

/* projects */
.project-card {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.project-techs {
    text-align: end;
}

.project-title,
.project-title q {
    font-family: monospace, sans-serif;
}

.project-summary {
    font-size: var(--fs-f);
}

/* tech stack */
.skill-cntr {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin: 1rem 0;
    justify-content: space-between;
}

.skill-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    width: 6rem;
}

.skill-label p {
    margin: 0;
}

.skill-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 6rem;
    height: 6rem;
}

.skill i {
    font-size: 3rem;
    color: var(--clr-secondary-lt);
}

.skill p {
    font-size: var(--fs-f);
    margin: 0;
}

/* styling: tag */
.tag {
    color: var(--clr-secondary-lt);
    font-family: monospace;
    white-space: nowrap;
}

.tag::before,
.tag::after {
    font-weight: bold;
    font-family: monospace, sans-serif;
    color: var(--clr-secondary-dk);
    margin: 0
}

.tag::before {
    content: "{";
}

.tag::after {
    content: "}";
}

/* Education */
#education__filters{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 1rem;
}

.filter-btn {
    background-color: transparent;
    border: 1px solid var(--clr-secondary-dk);
    height: 1.5rem;
    border-radius: 1.5rem;
    text-align: center;
    color: var(--clr-secondary-lt);
    cursor: pointer;
}

.filter-btn--pressed {
    background-color: var(--clr-secondary-dk);
    color: var(--clr-background);
    font-weight: bold;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin-left: 2rem;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 0;
    background-color: transparent;
    top: 0;
    bottom: 0;
    margin-left: -3px;
    border: 1px solid var(--clr-secondary-dk);

}

.timeline__container {
    padding: 1rem 2rem;
    position: relative;
    background-color: inherit;
    width: 90%;
}

.timeline__container::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: -11px;
    top: 25px;
    background-color: var(--clr-secondary-dk);
    border: 5px solid var(--clr-background);
    border-radius: 50%;
}

.timeline__entry p{
    margin: 0;
}

/* About */
#about__tldr {
    position: relative;
}

#about__tldr::before {
    position: absolute;
    content: "{TL;DR}";
    font-size: var(--fs-p);
    color: var(--clr-secondary-dk);
    top: 2rem;
    transform: translateX(-70%) rotate(-90deg);
    font-weight: bold;
    font-family: monospace, sans-serif;
}

.about__card header {
    display: flex;
    align-items: center;
    min-height: 3rem;
    border-top: 2px solid var(--clr-secondary-dk);
    cursor: pointer;
    justify-content: space-between;
    padding: 1rem 0;
}

.about__card h3 {
    font-size: var(--fs-p);
    font-family: monospace;
    font-variant: initial;
}

.about__card i {
    margin: 0 2rem;
    color: var(--clr-secondary-lt);
    transition: transform 400ms ease;
}

.about-collapse {
    display: flex;
}

.hidden {
    display: none;
}

.about__expanded-caret {
    transform: rotate(90deg);
}

/* MEDIA QUERIES */
/*---------------*/

/* Hover for hover-able devices */
@media (hover: hover) {

    .icon-btn:hover {
        transform: scale(1.05);
    }

    #site-nav a:hover {
        font-weight: bolder;
    }
}

@media (min-width: 768px) and (max-width: 1200px){
    main {
        grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    }
}

@media only screen and (max-width: 767.98px) {

    html {
        scroll-padding-top: 70px; /* Prevent anchor links going behind nav */
    }

    main {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 2rem;
        padding: 0 2rem;
    }

    #site-header {
        position: static;
        padding: 2rem 0;
        height: 80vh;
    }

    #tagline {
        text-indent: 3em;
    }

    #blurb {
        display: none;
    }

    #blurb--header {
        display: initial;
    }

    #site-nav {
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: var(--clr-secondary-dk);
        width: 100%;
        height: 4rem;
        margin: 0;
        padding: 0.5rem 0;
        z-index: 999;
    }

    #nav-desktop {
        display: none;
    }

    #nav-mobile {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    #nav-mobile li {
        height: 100%;
        padding: 0;
    }

    #nav-mobile a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: var(--fs-f);
    }

    #nav-mobile i {
        color: inherit;
        margin: 0.5rem 0;
    }

    #nav-mobile a:before,
    #nav-mobile a:after {
        display: none;
    }

    #content-cntr {
        padding-top: 0;
    }

    section > header {
        position: sticky;
        top: 0;
        background-color: var(--clr-background);
        z-index: 1;
    }

    .project-card {
        gap: 1rem;
    }

    .skill-cntr {
        flex-direction: column;
        row-gap: 1rem;
    }

    .skill-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .timeline {
        margin-left: 0;
    }
}